body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas: 
    "title title"
    "form chat"
    ;
    grid-auto-flow: column;
    margin-left: 5vw;
}

h1, label {
    color: aqua;
}

h2 {
    color: rgb(0, 132, 255);
}

.title {
    grid-area: "title";
    grid-column: span 2;
}

.comment {
    grid-area: form;
    
}

.chat {
    grid-area: chat;
   
}

.form {
    margin-top: 5%;
    margin-bottom: 7%;
}

button {
    background-color: rgb(0, 132, 255);
    color: aqua;
    border-radius: 5px;
    width: 200px;
    transition: 0.3s;
    border: aqua solid ;
}

.chatlist {
    list-style: none;
}

.chatItem {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "avatar name date"
    "text text text";
    /* justify-content: center;
    align-content: space-between; */
    color: aqua;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 5%;
    border-bottom: 1px solid aqua;
    padding-bottom: 10px;

}

.chatAvatar {
    grid-area: avatar;
    width: 75px;
}

.chatName {
    grid-area: name;
}

.chatText {
    grid-area: text;
    grid-column: span 2;
}

.chatDate {
    grid-area: date;
    justify-self: end;
}

.invisible {
    display: none;
}